.closeBtn {
  position: absolute;
  top: 30px;
  right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 5px;
  background: #f4efe9;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s ease;

  &:hover {
    background-color: #cbcbcb;
  }
}

.modalContent {
  figure {
    height: 18rem;
    width: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .recipeContent {
    padding: 2rem;
    max-height: 60vh;
    overflow: auto;

    h2 {
      margin-bottom: 2rem;
    }

    h3 {
      margin-bottom: 0.5rem;
    }

    .recipeIngredients {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 5px;
      margin-bottom: 2rem;

      li {
        display: flex;
        align-items: center;
      }

      svg {
        margin-right: 5px;
      }
    }
  }
}
